
    <!-- Discovery Metadata-->
    <table>
        <tr>
            Discovery Metadata
        </tr>
        <!-- Description -->
        <tr> 
            <th> Description </th> 
            <th> </th>
        </tr>
        <!-- Keywords -->
        <tr> 
            <th> Keywords </th>
            <th> </th>
        </tr>
        <!-- License -->
        <tr> 
            <th> Liscence </th>
            <th> </th>
        </tr>
        <!-- Related Dataset -->
        <tr> 
            <th> Related Dataset </th> 
            <th> </th>
        </tr>
        <!-- Related Publication-->
        <tr> 
            <th> Related Publication </th>
            <th> </th>
        </tr>
    </table>
